.container-Contato {
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom right, #245b97, #1a7e78);
    padding-left: 15vw;
}

.div-contato {
    display: flex;
    flex-direction: column; 
    padding-left: 10vh;
    padding-top: 8vh;
    margin: 0;
    align-items: flex-end; 
    width: fit-content;
}

.h1-contato {
    font-size: 4rem;
    color: #fafbfc;
    margin-bottom: 0;
    line-height: 1.1;
}

.legenda-ct {
    margin: 0;
    text-align: right;
    color: rgb(214, 214, 214);
}

.divdesc-contato {
    height: 30vh;
    padding-left: 10vh;
    padding-top: 15px;
    width: 50vw;
}

.paragrafo-contato {
    font-size: 18px;
    color: rgb(225, 223, 223);
}

.botao-contato {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border: solid transparent;
    background-color: white;
    color: #3065ac;
    transition: background-color 0.3s ease;
    transition: background-color 0.2s ease;
}

.botao-contato:hover {
    background-color: #1c4d8e;
    color: white;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 641px) {

    .container-Contato {
        height: 80vh;
    }

    .divdesc-contato {
        width: 70vw;
        padding-left: 0;
    }

    .div-contato {
        padding-left: 0;
        padding-bottom: 1.5vh;
    }

    .botao-contato {
        font-size: 1.2rem;
    }

    .envolvimento {
        text-decoration: none;
    }
}

@media (max-width: 640px) {

    .container-Contato {
        padding-left: 5vw;
        padding-right: 5vw;
        height: 75vh;
    }

    .div-contato {
        padding-top: 3vh;
        padding-left: 0;
    }

    .h1-contato {
        font-size: 2.4rem ;
    }

    .divdesc-contato {
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding-left: 0;
    }

    .paragrafo-contato {
        font-size: 1.2rem;
        padding-right: 2vh;
    }

    .botao-contato {
        font-size: 1.2rem;
    }
}

@media (max-width: 390px) {
    .container-Contato {
        padding-left: 5vw;
        margin-top: 2vh;
        height: 100vh;
    }
}