
.navbar-ctt {
    background-color: white;
    padding: 0.8rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;    
    box-sizing: border-box;
    z-index: 10;
}

.navbar-container-ctt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    height: 7vh;
}

#logo-ctt {
   font-size: 24px;
    font-weight: 600;
    color: #ff0000;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#logo-ctt:hover {
    color: #be2121;;
    text-decoration: underline;
}

.navbar-right-ctt {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 2rem;
    margin: 0;
    font-weight: 500;
}

.navLink-ctt {
    transition: color 0.1s ease;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.navLink-ctt:hover {
    color: #ff0000;
    cursor: pointer;
}

