.main-container {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  display: flex;
  padding-top: 10vh;
  width: 100%;
  box-sizing: border-box;
}

.profile-section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.profile-card {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #ff0000;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.profile-image-wrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  left: 20px;
  top: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
  margin-left: 330px;
  padding-right: 20px;
}

.profile-header h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 0;
  margin-left: 0;
  line-height: 1.1;
  text-transform: none;
}

.profile-description {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 0;
  margin-top: 20px;
  margin-left: 330px;
  padding-right: 20px;
  box-sizing: border-box;
}

.profile-description p {
  margin-bottom: 1.2rem;
  margin-top: 0;
}

.profile-description strong {
  font-weight: 600;
  color: #000;
}

@media (max-width: 1024px) and (min-width: 641px) {
  .profile-card {
    min-height: 420px;
  }
  
  .profile-image-wrapper {
    width: 220px;
    height: 320px;
  }
  
  .profile-header {
    margin-left: 250px;
  }

  .profile-header h1 {
    font-size: 3.4rem;
  }
  
  .profile-description {
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .profile-header {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
    order: 1;
    padding: 20px;
  }
  
  .profile-image-wrapper  {
    position: static;
    width: 100%;
    height: auto;
    order: 2;
    margin: 0;
  }
  
  .profile-image {
    height: 350px;
    object-fit: cover;
  }
  
  .profile-header h1 {
    font-size: 2rem;
    margin: 10px 0px 0px 0px;
  }
  
  .profile-description {
    padding: 0 20px 20px;
    margin-left: 0;
    text-align: left;
    width: 100%;
  }
}
