.container-Skills {
    width: 100%;
    height: 80vh;
    background-color: white;
    padding-left: 15vw;
}

.div-Skills {
    display: flex;
    flex-direction: column; 
    padding-left: 10vh;
    padding-top: 8vh;
    margin: 0;
    align-items: flex-end; 
    width: fit-content;
}

.h1-Skills {
    font-size: 4rem;
    color: #255b98;
    margin-bottom: 0;
    line-height: .9;
}

.legenda-sk {
    margin: 0;
    text-align: right;
    color: rgb(0, 0, 0);
}

.divdesc-Skills {
    height: 30vh;
    padding-left: 10vh;
    padding-top: 15px;
    width: 50vw;
}

.paragrafo-Skills {
    font-size: 18px;
    color: rgb(18, 18, 18);
}

.botao-Skills:hover {
    background-color: #1c4d8e;
    color: white;
}

.icones {
    overflow-x: auto;  
    justify-content: flex-start; 
    gap: 10px;
    padding: 10px 0;
  } 
  
  .icone {
    margin: 6px;
    
  }
  
  .icone img {
    transition: transform 0.3s ease;
  }
  
  .icone:hover img {
    transform: scale(1.1);
  }
  
  .nome-linguagem {
    visibility: hidden;
    opacity: 0;
    background-color: #000000cc;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.75rem;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  
  .icone:hover .nome-linguagem {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: 1281px){

  }

  @media (max-width: 1280px){
    .container-Skills {
        height: 80vh;
    }

    .divdesc-Skills {
        width: 70vw;
        padding-left: 0;
    }
    
    .div-Skills {
        padding-left: 0;
        padding-bottom: 1.5vh;
    }
  }

  @media (max-width: 1024px) {

    .container-Skills {
        
        padding-left: 13vw;
        height: 35vh;
    }

    .divdesc-Skills {
        width: 70vw;
        padding-left: 0;
    }

    .div-Skills {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 1.5vh;
    }

    .icones {
        width: 75vw;
        gap: 5px !important;
    }
}

@media (max-width: 900px) {
    .container-Skills {
        padding-left: 5vw;
        margin-top: 2vh;
        height: 48vh;
    }

    .div-Skills {
        padding-top: 3vh;
        padding-left: 0;
    }
}

@media (max-width: 800px) {
    .container-Skills {
        padding-left: 5vw;
        margin-top: 2vh;
        height: 53vh;
    }

    .div-Skills {
        padding-top: 3vh;
        padding-left: 0;
    }
}

  @media (max-width: 640px) {

    .container-Skills {
        padding-left: 5vw;
        padding-right: 5vw;
        height: 90vh;
    }

    .div-Skills {
        padding-top: 3vh;
        padding-left: 0;
    }

    .h1-Skills {
        font-size: 2.4rem ;
    }

    .divdesc-Skills {
        width: 90vw;
        padding-left: 0;
    }

   #icone-html, #icone-css, #icone-tailwind {
        display: none;
    }

    .paragrafo-Skills {
        font-size: 1.2rem;
        padding-right: 2vh;
    }
}

@media (max-width: 450px) {

    .container-Skills {
        padding-left: 5vw;
        padding-right: 5vw;
        height: 80vh;
    }

    .icones {
        width: 95vw;
        gap: 2px !important;
        padding-right: 20px;
    }
}

@media (max-width: 380px) {
    .container-Skills {
        padding-left: 5vw;
        margin-top: 2vh;
        height: 100vh;
    }

    #icone-html, #icone-css, #icone-tailwind, #icone-c {
        display: none;
    }
}


