* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 14px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* pode usar uma cor leve tipo #f0f0f0 */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
  }

@media (max-width: 768px) {
    html, body, #root {
        width: 100vw;
        overflow-x: hidden;
    }
}
